*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font: 16px Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}
form > *:not(:last-child) {
  margin-bottom: 0.5em;
}

custom-dialog button {
  color: #fff;
  width: 100%;
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.25em;
  background: #000;
  cursor: pointer;
}

.doors {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  z-index: 10;
}
.doors::before,
.doors::after {
  content: '';
  width: 50%;
  height: 100%;
  display: inline-block;
  transition: transform 500ms;
}
.doors::before {
  background: linear-gradient(90deg, #c0c0c0 90%, #949494 94%, #c0c0c0 95%, #c0c0c0 99%, #adadad 100%);
}
.doors::after {
  background: linear-gradient(270deg, #c0c0c0 90%, #949494 94%, #c0c0c0 95%, #c0c0c0 99%, #adadad 100%);
}
.doors.open::before {
  transform: translateX(-100%);
}
.doors.open::after {
  transform: translateX(100%);
}

.input-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.input-label input {
  padding: 0.5em;
  margin-left: 0.5em;
}

.credentials {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.credentials__top-nav {
  background: #ccc;
  box-shadow: 0 -2rem 2rem 2rem rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.credentials__body {
  height: 100%;
  overflow: auto;
  background: #eee;
  position: relative;
}
.credentials__body::before {
  content: 'No credentials present. Go to Credentials > Add';
  padding: 1em;
  border: solid 1px #aaa;
  border-radius: 0.5em;
  box-shadow: 0 9px 15px 0px rgba(0, 0, 0, 0.25);
  background: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.add-creds-form {
  padding: 1em;
}
#addCustomCred {
  width: 100%;
  color: #000;
  margin-bottom: 2em;
  border: solid 1px;
  background: #eee;
}
